<!--templates/contact.html-->
<htmL>

    <header>
    {% extends "base.html" %}
        </header>

{% block content %}

<body>
<h2><kbd>Contact infos:</kbd></h2>

<strong>Linkedin page: </strong> <a href="https://www.linkedin.com/in/rejoan-siddiky-a337801a7/" target="_blank">Click! to know me.</a>
</br></br>
<strong>Github page: </strong> <a href="https://github.com/oshanto-ctrl" target="_blank">Click! to see my works.</a>
</br></br>

</br>
<address>
    <code>Written by Md. Rejoan Siddiky</code>

    <a href="mailto:siddikyrejoan@gmail.com?Subject=Hello%20again"><kbd>    [ Email Me ] </kbd></a>
    <p>Address: <kbd>Dhaka, Bangladesh</kbd></p>
    <p>Phone: <kbd>***********</kbd></p>
    <p>Website: <strong>'Portfolio website under development...'</strong></p></br>
</address>

</br> </br>

<marquee>May Almighty Allah bless you.</marquee>
<Marquee direction="right"
        behavior="alternate"
        style="border:BLACK 2px SOLID">
        Have a good and happy day. :)
    </Marquee>

</body>

{% endblock content %}
</htmL>